<div style="text-align:center;">
    <h3 style="margin-bottom: 20px;">Sign In</h3>
</div>
<form action="/user/createSession" method="post"
    style="width: 40%; margin: 0 auto; background-color: #f2f2f2; padding: 20px;">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-4">Sign in</button>
    <div class="text-center mt-3">
        <a href="#" class="text-muted">Forgot password?</a>
    </div>
</form>